<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Countries of the World</title>
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="/">Countries of the World</a></h1>
        </div>
    </header>
    <div class="container">
        <form class="sort-form" action="/" method="get">
            <select name="sort_by">
                <option value="" th:attrappend="selected=${sort_by==null?'':null}">Sort Order</option>
                <option value="name_asc" th:attrappend="selected=${sort_by=='name_asc'?'':null}">Name Asc</option>
                <option value="name_desc" th:attrappend="selected=${sort_by=='name_desc'?'':null}">Name Desc</option>
                <option value="population_asc" th:attrappend="selected=${sort_by=='population_asc'?'':null}">Population Asc</option>
                <option value="population_desc" th:attrappend="selected=${sort_by=='population_desc'?'':null}">Population Desc</option>
            </select>
            <button type="submit">Sort</button>
        </form>
        <div class="country" th:each="country : ${countries}">
            <a th:href="@{'/country/' + ${#strings.toLowerCase(country.name)}}">
                <img th:src="@{'/images/flags/' + ${#strings.toLowerCase(country.name)} + '.png'}" alt="Flag of India"/>
                <h4 th:text="${country.name}">Country Name</h4>
            </a>
        </div>
    </div>
</body>
</html>